<div id="content">

   <!-- Photocard Block -->
   <section id="photocard" class="e-bg-light photocard-block pt-section" data-name="Photocard">
      <div>
         <div class="photocard-wrap animated fadeIn clearfix animation-action">
            <div class="photocard-image-wrap  column-half column-float-left">
               <div class="photocard-image-container"
                    style="background-image:url('../../../assets/index-red-flash.png'); background-color: #8e44ad;"></div>
            </div>
            <div class="photocard-content-wrap dark column-float-right column-half" data-stellar-background-ratio="0.5">
               <div class="photocard-contents-inner text-align-center wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
                  <div class="heading-block">
                     <h2 class="photocard-title font-accident-two-bold-italic ">
                        Generate Festival Playlists
                     </h2>
                     <h3 class="photocard-subtitle font-regular-light">
                        Based on your listening history
                     </h3>
                  </div>
                  <div class="photocard-contents small">
                     Login with Spotify, select a festival, and let the computer take care of the rest. It will look at your saved music to determine which festival performers you're most likely to enjoy.
                  </div>
                  <div class="dividewhite3"></div>
                  <a role="button" href="#!" class="btn btn-default btn-gr">Get Started</a>
               </div>
            </div>
         </div>
      </div>

      <div class="clearfix">
         <div class="photocard-wrap animated fadeIn clearfix animation-action">
            <div class="photocard-image-wrap  column-half column-float-right">
               <div class="photocard-image-container"
                    style="background-image:url('../../../assets/index-bubbles.png'); background-color: #8e44ad;"></div>
            </div>
            <div class="photocard-content-wrap dark column-float-left column-half" data-stellar-background-ratio="0.5">
               <div class="photocard-contents-inner text-align-center wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
                  <div class="heading-block">
                     <h2 class="photocard-title font-accident-two-bold-italic ">
                        Follow Playlists
                     </h2>
                     <h3 class="photocard-subtitle font-regular-light">
                        No need to reinvent the wheel
                     </h3>
                  </div>
                  <div class="photocard-contents small">
                     Find and follow top rated playlists created by others festival goers
                  </div>
                  <div class="dividewhite3"></div>
                  <a role="button" href="#!" class="btn btn-default btn-gr">Browse Top Playlists</a>
               </div>
            </div>
         </div>
      </div>

      <div>
         <div class="photocard-wrap animated fadeIn clearfix animation-action">
            <div class="photocard-image-wrap  column-half column-float-left">
               <div class="photocard-image-container"
                    style="background-image:url('../../../assets/index-red-flash.png'); background-color: #e74c3c;"></div>
            </div>
            <div class="photocard-content-wrap dark column-float-right column-half" data-stellar-background-ratio="0.5">
               <div class="photocard-contents-inner text-align-center wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
                  <div class="heading-block">
                     <h2 class="photocard-title font-accident-two-bold-italic ">
                        Have it your way
                     </h2>
                     <h3 class="photocard-subtitle font-regular-light">
                        Build your own playlist
                     </h3>
                  </div>
                  <div class="photocard-contents small">
                     Select the performers from the festival you want to see.
                  </div>
                  <div class="dividewhite3"></div>
                  <a role="button" href="#!" class="btn btn-default btn-gr">Get Started</a>
               </div>
            </div>
         </div>
      </div>

   </section>
   <!-- /Photocard Block -->

</div>
