<!-- <div class="col-xs-offset-3 col-xs-5">
<div id="welcome-text">
  <h1>Some Awesome Marketing Speak</h1>
</div>
<div class="col-xs-offset-4 welcome-btn">
  <%#= link_to 'Sign in with Spotify', '/auth/spotify', class: "btn btn-success btn-lg" %>
</div>
</div> -->


<%= render "users/background" %>
<%= render "users/how_to" %>
