<!-- Blog -->
<section id="blog" class="e-block e-block-skin pt-section" data-stellar-background-ratio="0.5" data-name="Blog">
   <div class="container">
      <div class="row text-center wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
         <div class="col-md-12">
            <h2 class="font-accident-two-bold-italic">Where Do You Want to Go?</h2>
            <h5 class="font-accident-one-bold title uppercase hovercolor">Select a Festival</h5>
         </div>
      </div>
      <div class="dividewhite10"></div>

      <div class="row">
        <% @fests.each do |fest| %>
        <div class="col-md-6 col-sm-6 col-sm-offset-1 infoblock wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
          <%= link_to image_tag("#{fest.name.downcase.split.join("-")}.png", alt:"#{fest.name}", style: "max-height:400px", class: "img-responsive"), fest%>
          <div class="dividewhite2"></div>
        </div>
        <% end %>
      </div>
   </div>
</section>
<!-- /Blog -->
