


<!-- Blog -->
<section id="blog" class="e-block e-block-skin pt-section" data-stellar-background-ratio="0.5" data-name="Blog">
   <div class="container">
      <div class="row text-center wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
         <div class="col-md-12">
            <h2 class="font-accident-two-bold-italic">Step 1:</h2>
            <h5 class="font-accident-one-bold title uppercase hovercolor">Select a Festival</h5>
         </div>
      </div>
      <div class="dividewhite10"></div>

      <% @fests.each do |fest| %>
        <div class="row">
           <div class="col-md-6 infoblock wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
              <%= link_to image_tag("#{fest.name.downcase.split.join("-")}.png", class:"img-responsive", alt:"#"), fest%>
              <!-- <img src="assets/custom/images/blog/01.jpg" class="img-responsive" alt="#"> -->
              <div class="dividewhite2"></div>
              <h5 class="font-accident-one-bold post-title uppercase"><a href="#!">Multipurpose template</a></h5>
              <div class="post-meta"><span>by <a href="#!">Sam Anderson</a>,</span> <span>March 16, 2015</span></div>
              <p class="small">
                 Ideal for Personal Blog, Corporate website and Creative portfolio. Modern Design helps you to
                 achieve the goal of your business. Create the website of your dream!
              </p>
              <div class="morelink"><a href="#!">MORE<i class="fa fa-long-arrow-right right"></i></a></div>
           </div>
      <% end %>


   </div>
</section>
<!-- /Blog -->
