/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
 @import "playlists";


body {
  font-family: 'Roboto', sans-serif;
}

body.users {
  background-color: black;
}

#welcome-text h1 {
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: #ecf0f1;
  padding-top: 30px;
}

.welcome-btn {
  padding-top: 30px;
}

img#nav-img {
  height: 60px;
  border-radius: 50%;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:20px !important;
    padding-bottom:0 !important;
    height: 38px;
}

.navbar {min-height:65px !important;}

.footer {
  height: 100px;
}
