// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.festival-form {
  padding-top: 10px;
}

.header h1 {
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  // color: #ecf0f1;
  padding-top: 30px;
}

.header h2 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

div h1 {
  font-weight: 900;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.playlist-title-input {
  height: 80;
  width: 800px;
  font-size:40px;
  font-weight: 900;
}

.recommended-playlists {
  padding-bottom: 100;
}
