<table class="gc-grid-inline table gc-venues">
  <thead>
    <tr>
      <th class="gc-date" data-date="2016-06-03">
        Friday, June 3rd<br>
      </th>
      <th class="gc-date" data-date="2016-06-04">
        Saturday, June 4th<br>
      </th>

      <th class="gc-date" data-date="2016-06-05">
        Sunday, June 5th<br>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="gc-items" data-venue="111">
      <td data-date="2016-06-03" class="gc-shows-cell no-left-border">
        <ul>

          <li class="gc-favorite-container gc-item clearfix" data-title="The Strokes" data-tags=" ">
            <button type="button" class="gc-favorite" data-fav-title="The Strokes" data-fav-type="artist" data-fav-id="108"><span class="glyphicon glyphicon-star"></span></button>
            <div class="gc-containerInfos">
              <a rel="widget" data-widget-params="artist$the-strokes/108" href="http://governorsballmusicfestival.com/lineup/#!programmation=artist$the-strokes/108">
                <span class="gc-time"></span> <div class="gc-containerTitleFav"><span class="gc-title">The Strokes</span></div>
              </a>
            </div>
          </li>

          <li class="gc-favorite-container gc-item clearfix" data-title="Beck" data-tags=" ">
                          <button type="button" class="gc-favorite" data-fav-title="Beck" data-fav-type="artist" data-fav-id="36"><span class="glyphicon glyphicon-star"></span></button>
                      <div class="gc-containerInfos">

                  <a rel="widget" data-widget-params="artist$beck/36" href="http://governorsballmusicfestival.com/lineup/#!programmation=artist$beck/36">
                  <span class="gc-time"></span> <div class="gc-containerTitleFav"><span class="gc-title">Beck</span></div>
                  </a>
              </div>
          </li>
        </ul>
      </td>

      <td data-date="2016-06-04" class="gc-shows-cell no-left-border">
        <ul>

          <li class="gc-favorite-container gc-item clearfix" data-title="The Strokes" data-tags=" ">
            <button type="button" class="gc-favorite" data-fav-title="The Strokes" data-fav-type="artist" data-fav-id="108"><span class="glyphicon glyphicon-star"></span></button>
            <div class="gc-containerInfos">
              <a rel="widget" data-widget-params="artist$the-strokes/108" href="http://governorsballmusicfestival.com/lineup/#!programmation=artist$the-strokes/108">
                <span class="gc-time"></span> <div class="gc-containerTitleFav"><span class="gc-title">The Strokes</span></div>
              </a>
            </div>
          </li>
      </td>

      <td data-date="2016-06-05" class="gc-shows-cell no-left-border">
        <ul>

          <li class="gc-favorite-container gc-item clearfix" data-title="The Strokes" data-tags=" ">
            <button type="button" class="gc-favorite" data-fav-title="The Strokes" data-fav-type="artist" data-fav-id="108"><span class="glyphicon glyphicon-star"></span></button>
            <div class="gc-containerInfos">
              <a rel="widget" data-widget-params="artist$the-strokes/108" href="http://governorsballmusicfestival.com/lineup/#!programmation=artist$the-strokes/108">
                <span class="gc-time"></span> <div class="gc-containerTitleFav"><span class="gc-title">The Strokes</span></div>
              </a>
            </div>
          </li>
      </td>

    </tr>
  </tbody>
</table>
