<% if logged_in? %>
  <div class="festival-form col-xs-2 col-xs-offset-5">
    <%= form_for(@playlist) do |f| %>
    <%= f.submit "Generate Playlist" %>
    <% end %>
  </div>

<% else %>
  <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<% end %>
