<footer>
   <div id="copyrights-wrapper" class="e-block e-bg-light">
      <div class="container text-center">
         <div class="copyright">
            <p>  <a href="https://github.com/joshuabamboo/govball-playlister" target="_blank">GitHub</a>. Contribute!</p>
            <p> Made with &#128154; 😭 and ☕ by <a href="http://twitter.com/joshuabamboo" target="_blank">@joshuabamboo</a></p>
         </div>
      </div>
   </div>
</footer>
