<footer>
   <div id="footer-wrapper" class="e-block-ins e-bg-light">
      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <h3 class="font-accident-one-bold uppercase">The Method</h3>
               <div class="dividewhite6"></div>
            </div>
            <div class="col-md-3">
               <div class="dividewhite6"></div>
            </div>
            <div class="col-md-3">
               <div class="dividewhite6"></div>
            </div>
            <div class="col-md-3">
               <div class="dividewhite6">
                  <div class="follow">
                     <ul>
                        <li><a href="#!"><i class="flaticon-facebook44"></i></a></li>
                        <li><a href="#!"><i class="flaticon-google110"></i></a></li>
                        <li><a href="#!"><i class="flaticon-pinterest27"></i></a></li>
                        <li><a href="#!"><i class="flaticon-linkedin21"></i></a></li>
                        <li><a href="#!"><i class="flaticon-twitter37"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="infoblock">
                  <!-- About Widget -->
                  <p class="small fontcolor-medium">Landing Page HTML Template <br>is the professional one-page website <br>template based on the latest <br>Bootstrap 3.3.6.</p>
                  <div class="dividewhite1"></div>
                  <div class="morelink"><a href="#!">MORE<i class="fa fa-long-arrow-right right"></i></a></div>
                  <!-- / About Widget -->
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
               <div class="infoblock">
                  <!-- Contacts Widget -->

                  <div class="navlinks">
                        <a href="#!"><p>Services</p></a>
                        <a href="#!"><p>Prices</p></a>
                        <a href="#!"><p>Team</p></a>
                        <a href="#!"><p>Portfolio</p></a>
                        <a href="#!"><p>Buy</p></a>
                  </div>
                  <!-- / Contacts Widget -->
               </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="infoblock">
                  <div class="navlinks">
                     <a href="#!"><p>Brands</p></a>
                     <a href="#!"><p>Details</p></a>
                     <a href="#!"><p>Blog</p></a>
                     <a href="#!"><p>Featured</p></a>
                  </div>
               </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="infoblock">
                  <p class="small fontcolor-medium border-left">
                     123-123 Direct Drive,<br>2233 Daytona Beach, FLorida USA
                  </p>
                  <p class="small fontcolor-medium border-left">
                     +1 234 567-45-67
                  </p>
               </div>
            </div>

         </div>
      </div>
   </div>

   <div class="e-block-null e-bg-light">
      <div class="container">
         <div class="row border-thin"></div>
      </div>
   </div>

   <div id="copyrights-wrapper" class="e-block e-bg-light">
      <div class="container text-center">
         <div class="copyright">
            <p> © 2016 <a href="http://neuethemes.net" target="_blank">Method Theme</a>. All rights reserved.</p>
            <p> Made by <a href="http://neuethemes.net" target="_blank">Neuethemes</a></p>
         </div>
      </div>
   </div>
</footer>
