<!-- Header and Menu Overlay Mode -->
<header id="header-wrapper-mp" class="head-overlay sticky-menu-light pt-section" data-name="Home">
   <div class="sticky-header header-dark sticky-overlay nobg" role="navigation">
      <div class="container mp-nav">
         <div id="site-title">
            <a href="index.html">
            <h1 class="font-accident-one-bold"><i class="flaticon-scientific3"></i>Festicles</h1></a>
         </div>

         <!-- Main top menu -->
         <nav id="main-menu" class="site-navigation primary-navigation">
            <ul class="sf-menu clearfix" id="example">
               <li class="m-desktop menu-item"><a href="#header-wrapper-mp">Home</a></li>
               <%= link_to "<li>Logout</li>".html_safe, logout_path, class: "m-desktop menu-item" %>
               <li class="m-desktop menu-item"><a href="/logout">Logout</a></li>
               <li class="m-desktop menu-item"><a href="#team">Team</a></li>
               <li class="m-desktop menu-item"><a href="#portfolio">Portfolio</a></li>
               <li class="m-desktop menu-item"><a href="https://wrapbootstrap.com/theme/method-one-page-html-WB05231H0?ref=neuethemes" target="_blank">Buy</a></li>
               <li class="mob-button">
                  <div class="menu-button nav-icon" id="open-button">
                     <div></div>
                  </div>
               </li>
            </ul>
         </nav>
         <!-- / Main top menu -->

      </div>

   </div>

</header>
<!-- /Header and Menu Ovelay Mode -->
